<%include ../partials/header%>

<section class="container">
    <h1 class="form__caption">New Comment</h1>
    <form class="form__container comment__form" action="/blogs/<%=post._id%>/comment" method="POST">
        <input type="text" name="Blog[text]" placeholder="Content">
        <input type="text" name="Blog[author]" placeholder="Author">
        <button class="button button__submit">add</button>

    </form>
</section>

<%include ../partials/footer%>