<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="/framework.css" rel="stylesheet">
    <title>Blog App</title>
</head>

<body>
        <nav class="navbar">
            <a class="navbar__link navbar__brand" href="/blogs">BlogApp</a>
            <a class="navbar__link" href="/blogs"><i class="fas fa-newspaper"></i> Posts</a>
            <a class="navbar__link" href="/blogs/new"><i class="fas fa-columns"></i> New</a>
            <a class="navbar__link navbar__link-right" href="#"><i class="fas fa-user-plus"></i> Sign Up</a>
            <a class="navbar__link" href="#"><i class="fas fa-sign-in-alt"></i> Login</a>
        </nav>
        