<%include ./partials/header%>

<form class="form-group" action="/blogs/<%=post._id%>/comment" method="POST">

    <input class="form-control"  type="text" name="Blog[text]" placeholder="content">
    <input class="form-control"  type="text" name="Blog[author]" placeholder="author">
    <input class="btn btn-success" type="submit">
</form>

<%include ./partials/footer%>