{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sample home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_dec.css' %}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  </head>
      <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
<style >
h1{
  color: red;
}

p{
  color: blue;
  font-size: 24px;
}

body{
  background: linear-gradient(to right,#80dfff,#33ffcc);
}

.form-group{
  margin: auto;
  margin-top: 100px;
  border: 2px solid white;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  height: 250px;

}
#heading{
  font-family: 'Encode Sans Condensed', sans-serif;
  color:white;
  text-align: center;

}

#pw{
  border-radius: 20px;

}




</style>


  </head>
  <body>

    <div class="container">
      <div class="jumbortron">
        <span > <h1 id="heading"> THE BLOG APP</h1> </span>

        <form class="form-group" method="post">
          <label for="mailid">Email</label>
          <input class="form-control" type="email" name="email" placeholder="EmailID"><br>
          <label for="pw">Password</label>
          <input class="form-control" type="password" name="pw" placeholder="Password"><br>
          <button type="button" class="btn btn-primary" name="button">SignIn</button>
        </form>


      </div>

    </div>

  </body>
</html>
