{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sample home</title>
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="jumbortron">
        <span > <h1 id="heading"> THE BLOG APP</h1> </span>

        <form class="form-group" method="post">
          <label for="mailid">Email</label>
          <input class="form-control" type="email" name="email" placeholder="EmailID"><br>
          <label for="pw">Password</label>
          <input class="form-control" type="password" name="pw" placeholder="Password"><br>
          <button type="button" class="btn btn-primary" name="button">SignIn</button>
        </form>


      </div>

    </div>

  </body>
</html>
