
<% include ./partials/header.ejs%>

<section class="container pad1">
  <h1 class="form__caption"> Create new Blog</h1>
  <form  class="form__container" action="/blogs" method="POST">
    <input type="text"  name='blog[title]' placeholder="Title">
    <input type="text" name='blog[image]' placeholder="Image URL">
    <textarea name="blog[content]" cols="30" rows="10" placeholder="Write Content Here "></textarea>
    <button class="form__button-submit"><i class="fas fa-chevron-circle-right"></i> Publish</button>
  </form>
</section>
    

<% include ./partials/footer%>